header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: none;
    margin: none;

    border: solid .7rem black;
    
}


main {
    display: flex;

}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid .7rem black;  
    border-top: none;

    padding: 1rem;

    text-align: center;
}

aside {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    padding: 1rem;

    width: 80vw;
}

.menu {
    border-bottom: solid .7rem black;
    border-left: solid .7rem black;
}

.AD {
    padding: 1.5rem;
    border-bottom: solid .7rem black;
    border-right: solid .7rem black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: none;
    margin: none;

    border: solid .7rem black;
    border-top: none;
}

h1 {
    margin: .5rem;
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
    margin: .5rem;
    padding: none;
}

p {
    font-size: 1.75rem;
}

h3 {
    font-size: 3rem;
}

ul {
    font-size: 1.75rem;
    padding-left: 1vw;
}